article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

html {
    font-size: 62.5%;
    font-family: 'Playfair Display', serif;
}

.wrapper {
    max-width: 1400px;
    width: 85%;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

header {
    background-image: url(../shutter-assets/asset-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    position: relative;
}

header nav input {
    display: none;
}

header nav h1 {
    float: left;
    font-size: calc(40px + (55 - 40) * ((100vw - 335px) / (1680 - 335)));
    /* This calc formula is from https://css-tricks.com/snippets/css/fluid-typography/ 
    original formula = font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
    margin-top: 20px;
    font-weight: 700;
}

header nav h1 a {
    text-decoration: none;
    color: white;
}

header nav ul {
    font-family: 'Lato', sans-serif;
    float: right;
    list-style: none;
    margin-top: 40px;
    font-size: calc(18px + (25 - 18) * ((100vw - 335px) / (1680 - 335)));
}

header nav ul li {
    text-transform: uppercase;
    margin-left: 40px;
    float: left;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

header nav label {
    display: none;
}

.header-sign {
    position: absolute;
    bottom: 13%;
    width: 100%;
    text-align: center;
}

.header-sign p {
    font-size: calc(90px + (170 - 90) * ((100vw - 335px) / (1680 - 335)));
    margin: 0;
    line-height: 50%;
}

.header-sign p span {
    font-family: 'Lato', sans-serif;
    font-size: calc(30px + (43 - 30) * ((100vw - 335px) / (1680 - 335)));
    display: block;
}

.icons {
    position: absolute;
    right: 3%;
    top: calc(50% - 100px);
    font-size: 2.5rem;
}

.icons i {
    display: block;
    margin: 20px 0;
    color: white;
}


/* header end */


.about-shutter {
    background-color: #F0F5FF;
    text-align: center;
}

.about-shutter h2 {
    margin-top: 0;
    padding-top: 50px;
    font-size: calc(40px + (50 - 40) * ((100vw - 900px) / (1680 - 900)));
}

.about-shutter p {
    font-family: 'Lato', sans-serif;
    width: 37%;
    margin: 0 auto 30px;
    line-height: 25px;
    font-size: 1.6rem;
}

.about-shutter button {
    font-family: 'Lato', sans-serif;
    background-color:#E7A8E6;
    border: none;
    padding: 15px 25px;
    text-transform: uppercase;
    margin-bottom: 70px;
    font-size: calc(17px + (20 - 17) * ((100vw - 900px) / (1680 - 900)));
    font-weight: bold;
}


/* about shutter end */


.photo-gallery div{
    width: calc((100% - 9%) / 3);
    float: left;
    margin: 7% 1.5%;
}


/* photo gallery end */


.info {
    background-image: url(../shutter-assets/asset-5.jpg);
    background-size: 100% 100%;
    padding-top: calc(70px + (130 - 70) * ((100vw - 335px) / (1680 - 335)));
    padding-bottom: calc(70px + (130 - 70) * ((100vw - 335px) / (1680 - 335)));
}

.info ul {
    text-align: center;
    padding: 0;
    margin: 0;
}

.info ul li {
    color: white;
    display: inline-block;
    margin: 20px 50px;
    font-size: calc(48px + (50 - 48) * ((100vw - 335px) / (1680 - 335)));
}

.info ul li a {
    text-decoration: none;
    color: white;
}

.info ul li i {
    display: block;
}


/* info end */


.behind-the-lens {
    padding-top: calc(50px + (70 - 50) * ((100vw - 800px) / (1680 - 800)));
    padding-bottom: calc(50px + (70 - 50) * ((100vw - 800px) / (1680 - 800)));
}

.behind-the-lens-image {
    float: left;
    width: calc(32%);
}

.behind-the-lens-description {
    width: calc(65% - 50px);
    float: right;
}

.behind-the-lens-description h2{
    font-size: calc(38px + (58 - 38) * ((100vw - 335px) / (1680 - 335)));
    margin-top: 0;
}

.behind-the-lens-description p {
    font-family: 'Lato', sans-serif;
    line-height: 33px;
    font-size: 1.8rem;
    margin-top: calc(30px + (50 - 30) * ((100vw - 335px) / (1680 - 335)));
}

.behind-the-lens-description button {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: calc(17px + (20 - 17) * ((100vw - 335px) / (1680 - 335)));
    background-color:#E7A8E6;
    border: none;
    padding: 15px 25px;
    margin-top: 3%;
    text-transform: uppercase;
}


/* behind the lens end */


.nature-and-scenery-content,
.candid-photography-content {
    background-color: #F0F5FF;
}

.nature-and-scenery-content .story-image1 {
    background-image: url("../shutter-assets/asset-7.jpg");
    background-size: 100% 100%;
}

.candid-photography-content .story-image2{
    background:url("../shutter-assets/asset-8.jpg");
    background-size: 100% 100%;
}

.story-image1,
.story-image2,
.nature-and-scenery,
.candid-photography{
    height: calc(300px + (450 - 300) * ((100vw - 335px) / (1680 - 335)));
}

.nature-and-scenery h3,
.candid-photography h3 {
    font-size: calc(20px + (33 - 20) * ((100vw - 335px) / (1680 - 335)));
}

.nature-and-scenery p,
.candid-photography p {
    font-size: calc(16px + (18 - 16) * ((100vw - 335px) / (1680 - 335)));
    line-height: 30px;
}

.nature-and-scenery button,
.candid-photography button {
    text-transform: uppercase;
    font-size: calc(16px + (18 - 16) * ((100vw - 335px) / (1680 - 335)));
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    background-color:#E7A8E6;
    border: none;
    padding: 15px 25px;
}

.story-image1 {
    float: right;
    width: 50%;
}

.story-image2 {
    width: 50%;
    float: left;
}

.nature-and-scenery {
    width: 50%;
    float: left;
    padding-top: calc(40px + (84 - 40) * ((100vw - 900px) / (1680 - 450)));
    padding-right: calc(68px + (168 - 68) * ((100vw - 900px) / (1680 - 335)));
    padding-left: calc(90px + (252 - 90) * ((100vw - 900px) / (1680 - 335)));
    text-align: right;
}

.candid-photography {
    width: 50%;
    float: right;
    padding-top: calc(20px + (84 - 20) * ((100vw - 900px) / (1680 - 335)));
    padding-left: calc(68px + (168 - 68) * ((100vw - 900px) / (1680 - 335)));
    padding-right: calc(90px + (252 - 90) * ((100vw - 900px) / (1680 - 335)));
}


/* story end */


footer {
    background-color: #1F2022;
    color: white;
    padding-top: 50px;
    font-family: 'Lato', sans-serif;
}

footer .contact {
    float: left;
    width: 25%;
    font-size: 1.6rem;
    list-style: none;
    padding: 0;
}

footer .contact li:first-child {
    font-size: calc(18px + (20 - 18) * ((100vw - 900px) / (1680 - 335)));;
    font-weight: bold;
}

footer .contact li {
    margin-bottom: 10px;
}

footer .stay-updated {
    display: inline-block;
    width: 50%;
    font-size: 1.6rem;
    text-align: center;
} 

footer .stay-updated span {
    font-size: 2.5rem;
    display: block;
}

footer .stay-updated form {
    width: 100%;
    height: 55px;
}

footer .stay-updated form input {
    border: none;
    width: 70%;
    padding: 3.5%;
    float: left;
    height: 100%;
}

footer .stay-updated form button {
    text-transform: uppercase;
    font-size: calc(16px + (20 - 16) * ((100vw - 335px) / (1680 - 335)));
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    background-color:#E7A8E6;
    border: none;
    height: 100%;
    width: 30%;
    float: right;
}

footer .pages {
    float: right;
    width: 25%;
    padding: 0;
    font-size: 1.6rem;
    list-style: none;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 50px;
}

footer .pages li {
    margin-bottom: 10px;
}

footer .pages li:first-child {
    font-size: 2rem;
    font-weight: bold;
}

.copyright {
    clear: both;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0;
    font-size: 1.6rem;
    background: black;
    height: 35px;
    padding-top: 8px;
    margin: 0;
    color: white;
}


/* footer end */


/* @media start */


@media (max-width:900px) {
    .about-shutter p {
        width: 70%;
    }

    .behind-the-lens-image {
        width: 100%;
        height: calc(270px + (400 - 270) * ((100vw - 335px) / (900 - 335)));
    }
    
    .behind-the-lens-description {
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }

    .behind-the-lens {
        padding-top: calc(30px + (70 - 30) * ((100vw - 335px) / (900 - 335)));
        padding-bottom: calc(30px + (70 - 30) * ((100vw - 335px) / (900 - 335)));
    }

    .nature-and-scenery,
    .candid-photography,
    .story-image1,
    .story-image2 {
        width: 100%;
        text-align: center;
    }

    .story-image1 {
        float: right;
    }

    .nature-and-scenery,
    .candid-photography{
        padding-top: calc(0px + (60 - 0) * ((100vw - 335px) / (900 - 335)));
    }
}

@media (max-width: 800px) {    
    header .icons i {
        display: none;
    }

    header nav {
        position: relative;
    }
    
    header nav ul.slide-in {
        padding: 0;
        transition: all 0.7s;
        position: fixed;
        right: -200px;
        width: 200px;
        margin-top: 90px;
    }

    header nav ul li{
        display: block;
        background:black;
        border: 1px solid rgba(196,138,169,0.6);
        margin: 0;
        height: 50px;
        float: none;
    } 

    header nav li:hover {
        background: rgba(44,68,92,0.6);
    }

    header nav li:hover a {
        color: rgb(226,138,169);
    }

    header nav li a {
        margin: 11px 0 0 15px;
        display: inline-block;
        width: 100%;
    }

    header nav label {
        float: right;
        margin-top: 25px;
        font-size: 4rem;
        display: block;
        position: fixed;
        right: 58px;
        color: salmon;
    }

    header input[type="checkbox"]:checked + ul.slide-in {
        right: 0;
    }

    .photo-gallery {
        margin: 0;
        width: 100%;
    }

    .photo-gallery div {
        width: 50%;
        margin: 0;
    }
    
    .photo-gallery div:nth-child(3) {
        display: none;
    }

    footer .stay-updated {
        width: 100%;
    }

    footer .stay-updated p {
        font-size: calc(16px + (20 - 16) * ((100vw - 335px) / (900 - 335)));
    }

    footer .stay-updated span {
        margin-bottom: 20px;
        font-size: calc(25px + (35 - 25) * ((100vw - 335px) / (900 - 335)));
    }

    footer .stay-updated form input {
        width: 100%;
        margin-bottom: 15px;
    }

    footer .stay-updated form button {
        font-size: 1.8rem;
        width: 100%;
    }

    footer .contact,
    footer .pages {
        text-align: center;
        width: 50%;
        margin-top: 60px;
        line-height: 35px;
    }
}

@media (max-width:450px) {
    .info {
        background: black;
    }

    .nature-and-scenery,
    .candid-photography {
        padding-top: calc(10px + (30 - 10) * ((100vw - 335px) / (450 - 335)));
    }

    footer {
        padding: 30px;
    }

    footer .contact,
    footer .pages {
        width: 45%;
    }
}

@media (min-width: 2000px) and (max-width: 3000px) {
    .wrapper {
        max-width: 2500px;
    }
}
